@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    background: rgba(4, 19, 41, 0.98);
    color: #c6ebff;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

*, *::before, *::after {
    box-sizing: inherit;
}